div.call-to-action
  svg.call-to-action-angle.call-to-action-angle--top(
    aria-hidden="true"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 1 1"
    preserveAspectRatio="none"
  )
    polygon(points="0,0 0,1 1,0")
  svg.call-to-action-angle.call-to-action-angle--bot(
    aria-hidden="true"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 1 1"
    preserveAspectRatio="none"
  )
    polygon(points="0,1 1,0 1,1")
  h2.call-to-action-title Like what you see?
  h3.call-to-action-subtitle I'd love to hear from you!
  p.call-to-action-content Email me at <a href="mailto:&#106;&#097;&#099;&#107;&#064;&#106;&#097;&#099;&#107;&#114;&#117;&#103;&#105;&#108;&#101;&#046;&#099;&#111;&#109;">&#106;&#097;&#099;&#107;&#064;&#106;&#097;&#099;&#107;&#114;&#117;&#103;&#105;&#108;&#101;&#046;&#099;&#111;&#109;</a>
