- const year = new Date().getFullYear();

footer.footer
  div.footer-inner
    div.footer-profile
      div.footer-profile-image
        noscript
          img(
            sizes="auto"
            srcset=`
              ./images/avatar-256.jpg 256w,
              ./images/avatar.jpg 512w
            `
            src="./images/avatar.jpg"
            alt='Photo of Jack Rugile'
          )
        img.lazyload(
          data-sizes="auto"
          data-srcset=`
            ./images/avatar-256.jpg 256w,
            ./images/avatar.jpg 512w
          `
          data-src="./images/avatar.jpg"
          alt='Photo of Jack Rugile'
        )
      p.footer-profile-content Raised in <a href="https://en.wikipedia.org/wiki/Basalt,_Colorado">Basalt, CO</a>, professionally developing in <a href="https://en.wikipedia.org/wiki/Denver">Denver, CO</a> since 2011. Likely hanging out with my girlfriend, <a href="https://nicollewitte.com/">Nicolle</a>, and our goofy dogs, <a href="https://www.instagram.com/p/BgZ5jcpjzA6/">Mary and Zoey</a>. Big fan of <a href="https://playoverwatch.com/en-us/">Overwatch</a> and <a href="https://i.giphy.com/media/3o7WIGDp6G7ATFyq64/source.gif">tasty adult&nbsp;beverages</a>.
    div.footer-links
      a.footer-link(href="https://codepen.io/jackrugile")
        include ./svgs/codepen.pug
        span.footer-link-text CodePen
      a.footer-link(href="https://github.com/jackrugile")
        include ./svgs/github.pug
        span.footer-link-text GitHub
      a.footer-link(href="https://twitter.com/jackrugile")
        include ./svgs/twitter.pug
        span.footer-link-text Twitter
      a.footer-link(href="https://www.linkedin.com/in/jackrugile/")
        include ./svgs/linkedin.pug
        span.footer-link-text LinkedIn
    p.footer-meta Made with <a href="#{data.repository}">code</a> in Denver, CO <span class="footer-meta-divider">//</span> &copy; #{year} Jack Rugile
