footer.footer
  div.footer-inner
    div.footer-profile
      div.footer-profile-image
        noscript
          img.fallback(
            sizes="auto"
            srcset=`
              ./images/avatar-256.jpg 256w,
              ./images/avatar.jpg 512w
            `
            src="./images/avatar.jpg"
            alt="Photo of Jack Rugile."
          )
        img.lazyload(
          data-sizes="auto"
          data-srcset=`
            ./images/avatar-256.jpg 256w,
            ./images/avatar.jpg 512w
          `
          data-src="./images/avatar.jpg"
          alt="Photo of Jack Rugile."
        )
      p.footer-profile-content !{data.footerDescription}
    div.footer-links
      a.footer-link(href="https://codepen.io/jackrugile/")
        include ./svgs/codepen.pug
        span.footer-link-text CodePen
      a.footer-link(href="https://github.com/jackrugile")
        include ./svgs/github.pug
        span.footer-link-text GitHub
      a.footer-link(href="https://twitter.com/jackrugile")
        include ./svgs/twitter.pug
        span.footer-link-text Twitter
      a.footer-link(href="https://www.linkedin.com/in/jackrugile/")
        include ./svgs/linkedin.pug
        span.footer-link-text LinkedIn
    p.footer-meta Made with <a href="#{data.repository}">code</a> <span class="footer-meta-divider">//</span> &copy; #{new Date().getFullYear()} Jack Rugile
