footer.footer
  include ./svgs/angle-bot.pug
  div.footer-inner
    div.footer-profile
      div.footer-profile-picture-wrap
        div.footer-profile-lqip-wrap
          img(
            src="data-url:./images/jack-rugile-profile-photo.jpg?width=32"
            class="footer-profile-lqip"
          )
        picture.footer-profile-picture
          each imageType in data.imageTypes
            source(
              srcset=`
                ./images/jack-rugile-profile-photo.jpg?as=${imageType}&width=256 256w,
                ./images/jack-rugile-profile-photo.jpg?as=${imageType}&width=512 512w
              `
              type=`image/${imageType}`
            )
          img(
            loading="lazy"
            sizes="(min-width: 30em) 104px, 100vw"
            src="./images/jack-rugile-profile-photo.jpg?&width=512"
            alt="Profile photo of Jack Rugile from 2023."
            width="512"
            height="512"
            class="footer-profile-image"
          )
      p.footer-profile-content !{data.footerDescription}
    div.footer-links
      a.footer-link(href="https://codepen.io/jackrugile/")
        include ./svgs/codepen.pug
        span.footer-link-text CodePen
      a.footer-link(href="https://github.com/jackrugile")
        include ./svgs/github.pug
        span.footer-link-text GitHub
      a.footer-link(href="https://twitter.com/jackrugile")
        include ./svgs/twitter.pug
        span.footer-link-text Twitter
      a.footer-link(href="https://www.linkedin.com/in/jackrugile/")
        include ./svgs/linkedin.pug
        span.footer-link-text LinkedIn
    p.footer-meta Made with <a href="#{data.repository}">code</a> <span class="footer-meta-divider">//</span> <span class="footer-meta-copyright">&copy; #{new Date().getFullYear()} Jack Rugile</span>
