head

  //-
  //- General
  //-
  meta(
    http-equiv="X-UA-Compatible"
    content="IE=edge"
  )
  meta(charset="utf-8")
  meta(
    name="viewport"
    content="width=device-width, initial-scale=1, viewport-fit=cover"
  )
  meta(
    name="author"
    content=data.name
  )
  meta(
    name="copyright"
    content=data.name
  )
  title #{pageTitle}

  //-
  //- SEO
  //-
  meta(
    name="description"
    content=pageDescription
  )
  meta(
    content="Jack Rugile, Front End Developer, Web Developer, Web Development, Game Development, Denver, Colorado"
    name="keywords"
  )
  link(
    rel="canonical"
    href=pageUrl
  )
  
  //-
  //- Fonts
  //-
  link(
    href="https://fonts.googleapis.com/css?family=Merriweather:300&display=swap"
    rel="stylesheet"
  )
  link(
    href="https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap"
    rel="stylesheet"
  )

  //-
  //- CSS
  //-
  link(
    href="./styles/index.css"
    rel="stylesheet"
  )

  //-
  //- Manifest, Apple, Icons, Microsoft
  //-
  link(
    rel="manifest"
    href="https://jackrugile.com/site.webmanifest"
  )
  link(
    rel="apple-touch-icon"
    sizes="180x180"
    href="https://jackrugile.com/apple-touch-icon.png"
  )
  link(
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="https://jackrugile.com/favicon-32x32.png"
  )
  link(
    rel="icon"
    type="image/png"
    sizes="16x16"
    href="https://jackrugile.com/favicon-16x16.png"
  )
  link(
    rel="mask-icon"
    href="https://jackrugile.com/safari-pinned-tab.svg"
    color="#ff0040"
  )
  meta(
    name="msapplication-TileColor"
    content="#ffffff"
  )
  meta(
    name="msapplication-config"
    content="https://jackrugile.com/browserconfig.xml"
  )
  meta(
    name="theme-color"
    content="#ffffff"
  )
  meta(
    name="apple-mobile-web-app-capable"
    content="yes"
  )
  meta(
    name="apple-mobile-web-app-capable"
    content="yes"
  )
  meta(
    name="apple-mobile-web-app-status-bar-style"
    content="black"
  )

  //-
  //- Facebook
  //-
  meta(
    property="og:site_name"
    content=data.name
  )
  meta(
    property="og:title"
    content=pageTitle
  )
  meta(
    property="og:description"
    content=pageDescription
  )
  meta(
    property="og:type"
    content="website"
  )
  meta(
    property="og:url"
    content=pageUrl
  )
  meta(
    property="og:image"
    content="https://jackrugile.com/facebook.png"
  )

  //-
  //- Twitter
  //-
  meta(
    name="twitter:site"
    content="@jackrugile"
  )
  meta(
    name="twitter:title"
    content=pageTitle
  )
  meta(
    name="twitter:description"
    content=pageDescription
  )
  meta(
    name="twitter:image"
    content="https://jackrugile.com/twitter.png"
  )
  meta(
    name="twitter:url"
    content=pageUrl 
  )
  meta(
    name="twitter:card"
    content="summary_large_image"
  )
  meta(
    name="twitter:domain"
    content=data.baseUrl
  )

  //-
  //- Share
  //-
  meta(
    itemprop="name"
    content=pageTitle
  )
  meta(
    itemprop="description"
    content=pageDescription
  )
  meta(
    itemprop="image"
    content="https://jackrugile.com/general.png"
  )
