- 
  const pageTitle = `${data.name} | ${data.title}`
  const pageDescription = data.description
  const pageUrl = `${data.baseUrl}`

doctype html
html.no-js(
  lang="en"
  itemscope
  itemtype="http://schema.org/WebPage"
)
  include ./includes/head.pug
  body
    include ./includes/header.pug
    main.main
      section.section
        h2 !{data.aboutTitle}
        p !{data.aboutDescription}
      each feature in data.features
        - let cat = data.categories.find(e => e.slug === feature.category);
        section.section
          h2 #{cat.title}
          div.project-grid
            each slug in feature.projects
              - let project = data.projects.find(e => e.slug === slug);
              article.cell
                a.cell-image(href=project.url, tabindex="-1", aria-hidden="true")
                  noscript
                    img.fallback(
                      sizes="auto"
                      srcset=`
                        ${project.image.src.replace('.jpg', '-480.jpg')} 480w,
                        ${project.image.src.replace('.jpg', '-800.jpg')} 800w,
                        ${project.image.src} 1280w
                      `
                      src=project.image.src
                      alt=project.image.alt
                    )
                  img.lazyload(
                    data-sizes="auto"
                    data-srcset=`
                      ${project.image.src.replace('.jpg', '-480.jpg')} 480w,
                      ${project.image.src.replace('.jpg', '-800.jpg')} 800w,
                      ${project.image.src} 1280w
                    `
                    data-src=project.image.src
                    alt=project.image.alt
                  )
                div.cell-content
                  h3.cell-title #{project.title}
                  h4.cell-subtitle !{project.subtitle}
                  if project.description
                    p.cell-description !{project.description}
                  if project.location
                    p.cell-location @ !{project.location}
                  div.cell-links
                    each link in project.links
                      a.cell-link(href=link.url, aria-label=link.ariaLabel) #{link.label}
    include ./includes/call-to-action.pug
    include ./includes/footer.pug
    include ./includes/foot.pug
