- 
  const pageTitle = `${data.name} | ${data.title}`
  const pageURL = `${data.baseUrl}`

doctype html
html.html(lang="en")
  include ./includes/head.pug
  body.body
    header.header
      div.header-title
        svg.header-title-icon(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 320 320")
          polygon(points="20,320 0,160 60,0 140,0 ")
          polygon(points="300,0 320,160 260,320 180,320 ")
          polygon(points="220,0 180,0 60,320 100,320 140,320 260,0")
        div.header-title-text
          h1.header-title-text-top #{data.name}
          p.header-title-text-bot #{data.title}
    main.main
      section.section
        h2 About Me
        p Lorem ipsum dolor sit amet, #[a(href="https://google.com") consectetur adipiscing] elit. Vestibulum ornare velit at tortor gravida gravida. Proin ac congue ante, sed aliquet mauris. Maecenas tincidunt lectus turpis, eget #[a(href="https://neverbeenhere.com") efficitur] dui imperdiet quis. Vivamus neque nibh, faucibus nec ornare eu, molestie in nisl. Morbi vel feugiat enim, non porttitor tellus.
      hr
      each feature in data.features
        - let cat = data.categories.find(e => e.slug === feature.category);
        section.section
          h2 #{cat.title}
          div.grid
            each slug in feature.projects
              - let project = data.projects.find(e => e.slug === slug);
              article.cell
                a.cell-image(href=project.url)
                  img.lazyload(
                    data-sizes="auto"
                    data-srcset=`
                      ${project.image.src.replace('.jpg', '-480.jpg')} 480w,
                      ${project.image.src.replace('.jpg', '-800.jpg')} 800w,
                      ${project.image.src} 1280w
                    `
                    data-src=project.image.src
                    alt=project.image.alt
                  )
                h3.cell-title #{project.title}
                h4.cell-subtitle #{project.subtitle}
                a.cell-link(href=project.url) Play Game
                a.cell-link(href=project.repository) View Code
        hr
      section.section
        h2 Employed Projects
        ul
          li If This Then Dominos
          li ViewIn2 - YouTube
          li Omelet Agency
      hr
      section.section
        h2 Open Source
        ul
          li Variaboard
          li Placeholdem
          li jRumble
      hr
      section.section
        h2 Articles &amp; Presentations
        ul
          li Start Making Games
          li Codrops Particles
          li Interview
      hr
      section.section
        h2 Featured Demos
        ul
          li codepen demo 1
          li codepen demo 2
          li codepen demo 3
    include ./includes/foot.pug
    script(src="./scripts/index.js")
