- 
  const pageTitle = `${data.name} | ${data.title}`
  const pageURL = `${data.baseUrl}`

doctype html
html.html(lang="en")
  include ./includes/head.pug
  body.body
    header.header
      h1
        svg(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 320 320")
          polygon(points="20,320 0,160 60,0 140,0 ")
          polygon(points="300,0 320,160 260,320 180,320 ")
          polygon(points="220,0 180,0 60,320 100,320 140,320 260,0")
        | #{data.name}
      p #{data.title}
    main.main
      section.section
        h2 About Me
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ornare velit at tortor gravida gravida. Proin ac congue ante, sed aliquet mauris. Maecenas tincidunt lectus turpis, eget efficitur dui imperdiet quis. Vivamus neque nibh, faucibus nec ornare eu, molestie in nisl. Morbi vel feugiat enim, non porttitor tellus.
      hr
      section.section
        h2 Games
        div.grid
          article.cell
            figure.cell-image
            h3.cell-title Lost Without You
            h4.cell-subtitle Turn-Based Action Puzzler
          article.cell
            figure.cell-image
            h3.cell-title Mono Move
            h4.cell-subtitle Single Control Gravity Switching
          article.cell
            figure.cell-image
            h3.cell-title Radius Raid
            h4.cell-subtitle Space Shoot 'Em Up
      hr
      section.section
        h2 Projects
        ul
          li Itch A Skitch
      hr
      section.section
        h2 Employed Games
        ul
          li Capital One Games
          li Boreal Magic
      hr
      section.section
        h2 Employed Projects
        ul
          li If This Then Dominos
          li ViewIn2 - YouTube
          li Omelet Agency
      hr
      section.section
        h2 Open Source
        ul
          li Variaboard
          li Placeholdem
          li jRumble
      hr
      section.section
        h2 Articles &amp; Presentations
        ul
          li Start Making Games
          li Codrops Particles
          li Interview
      hr
      section.section
        h2 Featured Demos
        ul
          li codepen demo 1
          li codepen demo 2
          li codepen demo 3
    include ./includes/foot.pug
