- 
  const pageTitle = `${data.name} | ${data.title}`
  const pageDescription = data.description
  const pageUrl = `${data.baseUrl}`

doctype html
html(lang="en")
  include ./includes/head.pug
  body
    include ./includes/header.pug
    main.main
      section.section
        h2 The web moves pretty fast. If you don’t stop and look around once in a while, you could miss&nbsp;it.
        p Passionate web and game developer with 8 years of professional experience in the agency realm. Creative thinker, astute problem solver, and persistent learner. Looking to collaborate with a team of cutting edge professionals who are dedicated to their&nbsp;craft.
      each feature in data.features
        - let cat = data.categories.find(e => e.slug === feature.category);
        section.section
          h2 #{cat.title}
          if feature.description
            p #{feature.description}
          div.grid
            each slug in feature.projects
              - let project = data.projects.find(e => e.slug === slug);
              article.cell
                a.cell-image(href=project.url)
                  noscript
                    img(
                      sizes="auto"
                      srcset=`
                        ${project.image.src.replace('.jpg', '-480.jpg')} 480w,
                        ${project.image.src.replace('.jpg', '-800.jpg')} 800w,
                        ${project.image.src} 1280w
                      `
                      src=project.image.src
                      alt=project.image.alt
                    )
                  img.lazyload(
                    data-sizes="auto"
                    data-srcset=`
                      ${project.image.src.replace('.jpg', '-480.jpg')} 480w,
                      ${project.image.src.replace('.jpg', '-800.jpg')} 800w,
                      ${project.image.src} 1280w
                    `
                    data-src=project.image.src
                    alt=project.image.alt
                  )
                div.cell-content
                  h3.cell-title #{project.title}
                  h4.cell-subtitle !{project.subtitle}
                  div.cell-links
                    a.cell-link(href=project.url) View Project
                    if project.repository
                      a.cell-link(href=project.repository) View Source
    include ./includes/call-to-action.pug
    include ./includes/footer.pug
    include ./includes/foot.pug
