- 
  const pageTitle = `${data.name} | ${data.title}`
  const pageDescription = data.description
  const pageUrl = `${data.baseUrl}`

doctype html
html(lang="en")
  include ./includes/head.pug
  body
    include ./includes/header.pug
    main.main
      section.section
        h2 The web moves pretty fast. If you don’t stop and look around once in a while, you could miss it.
        p Lorem ipsum dolor sit amet, #[a(href="https://google.com") consectetur adipiscing] elit. Vestibulum ornare velit at tortor gravida gravida. Proin ac congue ante, sed aliquet mauris. Maecenas tincidunt lectus turpis, eget #[a(href="https://neverbeenhere.com") efficitur] dui imperdiet quis. Vivamus neque nibh, faucibus nec ornare eu, molestie in nisl. Morbi vel feugiat enim, non porttitor tellus.
      each feature in data.features
        - let cat = data.categories.find(e => e.slug === feature.category);
        section.section
          h2 #{cat.title}
          if feature.description
            p #{feature.description}
          div.grid
            each slug in feature.projects
              - let project = data.projects.find(e => e.slug === slug);
              article.cell
                a.cell-image(href=project.url)
                  img.lazyload(
                    data-sizes="auto"
                    data-srcset=`
                      ${project.image.src.replace('.jpg', '-480.jpg')} 480w,
                      ${project.image.src.replace('.jpg', '-800.jpg')} 800w,
                      ${project.image.src} 1280w
                    `
                    data-src=project.image.src
                    alt=project.image.alt
                  )
                div.cell-content
                  h3.cell-title #{project.title}
                  h4.cell-subtitle !{project.subtitle}
                  div.cell-links
                    a.cell-link(href=project.url) View Project
                    if project.repository
                      a.cell-link(href=project.repository) View Source
    include ./includes/call-to-action.pug
    include ./includes/footer.pug
    script(src="./scripts/index.js")
    script(
      async="true"
      src="https://www.googletagmanager.com/gtag/js?id=UA-5693606-7"
    )
    script
      include ./scripts/analytics.js

