-
  const pageTitle = `${data.name} | ${data.title}`
  const pageDescription = data.description
  const pageUrl = `${data.baseUrl}`

doctype html
html(
  lang="en"
  itemscope
  itemtype="http://schema.org/WebPage"
  class="no-js"
)
  include ./includes/head.pug
  body
    div.focus-indicator
    include ./includes/header.pug
    main.main
      include ./includes/intro.pug
      include ./includes/featured-projects.pug
    include ./includes/call-to-action.pug
    include ./includes/footer.pug
    include ./includes/foot.pug
